WORLD
CURRENT_YEAR:1105

SHIP
JUMP_DRIVE:2
SHIP_VOLUME:400
SHIP_ARMED:FALSE

CREW
MAX_SOC_DM:0
MAX_NAVY_SCOUT_MERCAHNT_RANK:7

CARGO
Code_Description_Tonnage_SourceWorld_PurchaseCost_DangerDm_RiskDM_Legality_ID
148_Workable Alloys_16_2223_4600_-6_0_FALSE
CARGOENTRY654:148_Workable Alloys_16_Drinax_4600_-6_0_TRUE_---_---_50_1
CARGOENTRY7898794:148_Workable Alloys_17_Drinax_4300_-6_0_TRUE_---_---_50_1