PROGRAM
DIRPATH:f:\Work\golang\src\github.com\Galdoba\TR_Dynasty\

WORLD
CURRENT_YEAR:1105

SHIP
JUMP_DRIVE:2
MANUVER_DRIVE:2
SHIP_NAME:La Fata
SHIP_CLASS:Laboratory Ship
SHIP_TYPE:L
SHIP_VOLUME:400
SHIP_ARMED:TRUE
SHIP_CARGO_VOLUME:108
SHIP_STATEROOMS_LUXURY:0
SHIP_STATEROOMS_HIGH:0
SHIP_STATEROOMS_STANDARD:20
SHIP_LOWBIRTHS:0

CREW
MAX_SOC_DM:0
MAX_NAVY_SCOUT_MERCAHNT_RANK:7
CURRENT_CREW:5



